@model HealthyYou_V2.Models.PlannerViewModel
@Scripts.Render("~/bundles/jquery")

@{
    ViewBag.Title = "Make a plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select a meal</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.RecipeID)



    <div class="form-group">
        @Html.Label("Recipe Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Html.DisplayFor(model => model.RecipeName)</p>

        </div>
    </div>

    <div class="form-group">
        @Html.Label("Select Date and Time", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <input type="datetime-local" name="OnDate">
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Enter Weight", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <input type="text" name="Weight">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add to Plan" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "ViewRecipes")
</div>