@model IEnumerable<HealthyYou_V2.Models.Gym>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> Gym Location </h2>
<div id="map" style="height:300px"></div>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="coordinates">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="description">
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td class="description">
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td class="description">
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.ActionLink("View Reviews", "ViewReview", new { id = item.ID }) |
                @Html.ActionLink("Write Review", "WriteReview", new { id = item.ID }) |
            </td>
        </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
}