@model IEnumerable<HealthyYou_V2.Models.Review>

@{
    ViewBag.Title = "ViewReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Reviews</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Writer")
        </th>
        <th>
            @Html.DisplayName("Writer Email")
        </th>
        <th>
            @Html.DisplayName("Gym Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayName("Review")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        if (!item.IsArchive)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gym.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.Raw(item.ReviewText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnDate)
                </td>
            </tr>
        }

    }

</table>
